*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #E5E8E8;
    font-family: Poppins;
}

.intro {
    padding-top: 100px;
    display: flex;
}

.intro-p {
    text-align: justify;
    padding: 40px 100px 50px 100px  ;
    display: block;
}

.intro-p h1 {
    text-align: center;
    padding: 5px;
    font-size: 2.5em;
}

.intro-form {
    padding: 70px 100px 50px 100px ;
}

.formulario {
    width: 800px;
    background-color: black;
    color: white;
    border-radius: 40px;
}

.field {
    display: flex;
    border: none;
}

.field div {
    padding: 20px;
}

#lab-contr {
    padding-right: 65px;
}

#correo {
    padding-right: 115px;
}



.artistas {
    padding-top: 250px;
}

.artistas h2 {
    font-size: 50px;
    text-align: center;
    text-decoration: overline;
}

.artistas p {
    font-size: large;
    padding-top: 40px;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 60px;
    text-align: justify;
}

.artista-Aroa {
    padding-top: 40px;
    padding-bottom: 30px;
    display: flex;
}

.Aroafoto {
    padding-left: 100px;
}

.descAroa {
    padding-left: 20px;
    padding-right: 100px;
    text-align: justify;
    align-items: center;
    justify-content: center;
}

.descAroa p {
    padding-top: 400px;
}

.artista-Sandra {
    padding-top: 40px;
    padding-bottom: 30px;
    display: flex;
}

.Sandrafoto {
    padding-left: 100px;
}

.descSandra {
    padding-left: 20px;
    padding-right: 100px;
    text-align: justify;
    align-items: center;
    justify-content: center;
}

.descSandra p {
    padding-top: 400px;
}

.artista-Nerea {
    padding-top: 40px;
    padding-bottom: 30px;
    display: flex;
}

.Nereafoto {
    padding-left: 100px;
}

.descNerea {
    padding-left: 20px;
    padding-right: 100px;
    text-align: justify;
    align-items: center;
    justify-content: center;
}

.descNerea p {
    padding-top: 400px;
}