*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #E5E8E8;
    font-family: Poppins;
}

header {
    padding-bottom: 30px;
}


.carrusel {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.carrusel img {
    flex: 0 0 100%;
    width: 100%;
    object-fit: cover;
    scroll-snap-align: center;
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#intro-p {
    padding-right: 50px;
}

#intro-p p {
    text-align: justify;
}

#intro-p h2{
    padding-bottom: 10px;

}

#frame-maps {
    padding: 50px;
}

main {
    padding-top: 45px;
}

#titulo1 {
    font-size: 50px;
    text-align: center;
    text-decoration: overline;
}

.Obra{
    display: flex;
    align-items: center;
    padding: 0px;
}

.cuadro img {
    width: 750px;
    height: 750px;
    margin: 0px;
    padding: 45px;
}

#cuadro2 {
    width: 750px;
    height: 1027.1739;
}

#cuadro3 {
    width: 750px;
    height: 1091.6508;
}

.desc {
    padding-left: 100px;
    padding-right: 50px;
    text-align: justify;
}

.desc h1 {
    text-decoration: underline;
}