* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins;
    background-color: black;
    display: flex;
    color: white;
    align-content: inh;
    text-align: justify;
    justify-content: space-around;
}

.lista1 {
    padding-top: 40px;
    padding-left: 650px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
}

#Imagen-cabecera {
    height:  103.5;
    width: 186;   
}

.lista2 {
    padding-top: 40px;
    padding-right: 550px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
}

#li {
    padding-left: 20px;
    padding-right:  40px;
    justify-content: space-between;
}

#enlace_pagina {
    text-decoration: none;
    color: whitesmoke;
}